<h1>This is the home page</h1>
<h2>It was created for no other reason to have a useless home page</h2>

<p style='margin-left: 25px'>Yip, nothing to put here...</p>
<br>
<p style='margin-left: 900px'>...Or here...</p>
<p style='margin-left: 500px'>What?? Not even here?!?</p>
<br>
<br>
<p style='margin-left: 750px'>Nope...not even here...</p>
<p style='margin-left: 110px'>Maybe here?...yeah, right!!</p>
<p style='margin-left: 1000px'>HERE!! Yes, HERE!!!...Wait...No...</p>
<br>
